<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Webshop</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Pinja Colada</a>
                                </div>
                            <div class="product-price">30 coins</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d2.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Longisland Icetea</a>
                                </div>
                            <div class="product-price">68 coins</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d3.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Mai Thai</a>
                                </div>
                            <div class="product-price">27 coins</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d4.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Mohito</a>
                                </div>
                            <div class="product-price">55 coins</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d5.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Tequlia Sunrise</a>
                                </div>
                            <div class="product-price">10 coins</div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </main>
        <footer class="footer">
            All right reserved.
        </footer>
    </div>
    
</body>
</html>